.chatPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .wrapper {
    flex: 1;
    overflow: scroll;
    width: 100%;
    display: flex;
    justify-content: center;

    .chat {
      width: 85%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p,
      li {
        margin: 10px 0px;
      }

      .message {
        padding: 20px;

        &.user {
          background-color: #2c2937;
          border-radius: 20px;
          max-width: 80%;
          align-self: flex-end;
        }

        .logo {
          display: flex;

          .model {
            background-color: #2c2937;
            height: 40px;
            min-width: 40px;
            display: flex;
            padding-top: 2px;
            justify-content: center;
            border-radius: 50%;
            margin: 15px;

            img {
              height: 30px;
              width: 30px;
            }
          }
        }
      }
    }
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
